.formBox {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border-form);
  padding: 35px;
  border-radius: 20px;
  max-width: 670px;
  margin: auto;
  font-family: Arial;
}

.title {
  text-align: center;
  color: var(--color-text-header);
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.label {
  display: block;
  margin-bottom: 7px;
  margin-left: 2px;
  font-size: 14px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border-form);
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}