:root {
  /* --- Фон и поверхности --- */
  --color-bg: #F0F4F8;
  --color-surface: #FFFFFF;

  /* --- Цвета текста --- */
  --color-text: #000000;
  --color-text-header: #2A4578;
  --color-text-button: #FFFFFF;

  /* --- Основные цвета интерфейса --- */
  --color-primary: #3B63AB;
  --color-button-hover: #2A4578;
  --color-border: #D9D9D9;

  /* --- Состояния --- */
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-danger: #E67E80;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: var(--color-button-hover);
}

/*input, select {
  padding: 8px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  font-size: 14px;
}*/

.base-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.base-layout-main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.header {
  background-color: var(--color-surface);
  border-bottom: 2px solid var(--color-border);
  padding: 1rem 8rem;
}

.header-logo img {
  height: 30px;
}