.formBox {
    width: 100%; 
  background-color: var(--color-surface);
  border: 1px solid var(--color-border-form);
  padding: 35px;
  border-radius: 20px;
  max-width: 700px;
  margin: auto;
  font-family: Arial;
}

.title {
  text-align: center;
  color: var(--color-text-header);
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: block;
  margin-bottom: 7px;
  margin-left: 2px;
  font-size: 14px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border-form);
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.button {
  background-color: var(--color-primary);
  color: var(--color-text-button);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  padding: 20px 20px;
  font-weight: bold;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.forgotPassword {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.forgotPassword a {
  color: var(--color-primary);
  text-decoration: none; 
}

.forgotPassword a:hover {
  text-decoration: underline;
}

.registerLinkSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
  font-size: 14px;
  color: var(--color-text);
}

.registerLinkSection a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.registerLinkSection a:hover {
  text-decoration: underline; 
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border-form);
}