.formBox {
  background-color: var(--color-surface);
  border: 1px solid var(--color-border-form);
  padding: 35px;
  border-radius: 20px;
  max-width: 670px;
  margin: auto;
  font-family: Arial;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-text-header);
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  display: flex;
  gap: 16px;
}

.row > div {
  flex: 1;
}

.label {
  display: block;
  margin-bottom: 7px;
  margin-left: 2px;
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border-form);
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.avatarSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.avatar {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.avatarLabel {
  font-size: 14px;
}

.submitButton {
  background-color: var(--color-primary);
  color: var(--color-text-button);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}

.submitButton:hover {
  background-color: var(--color-button-hover);
}

.authLinkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-border-form);
}

.authText {
  margin: 0;
  font-size: 14px;
  color: var(--color-text);
}

.loginLink {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.loginLink:hover {
  text-decoration: underline;
}